@{
    ViewBag.Title = "Sobre o sistema";
}
    <div class="element-box">
        <h2 class="element-header">Sobre o SGPC</h2>

        <h4>
            SGPC é um sistema de Gestão de stock e report direccionado a satisfazer algumas necessidades da empresa Paredes com Vida.

           
        </h4>
        <p>
            Plataforma Windows - 64bit
        </p>
    </div>